<h2>About the Archive</h2>
<p>The City works to comply with the current and evolving requirements of
    <a href="https://www.ada.gov/resources/2024-03-08-web-rule/">DOJ Rule 2024-07758 (89 FR 31320)</a>,
    titled “Nondiscrimination on the Basis of
    Disability; Accessibility of Web Information and Services of State and Local
    Government Entities.”  This federal rule requires adherence to standards of
    accessibility (including WCAG 2.1 AA) which many older City documents do not
    meet. The City has adopted WCAG 2.2 AA,  a higher standard to future-proof this
    effort.  Under the new Rule, governments may establish a centralized online
    storage system for housing documents created prior to the deadline (4/24/2026)
    which do not meet contemporary standards of accessibility or will not be
    remediated by the deadline.
</p>
<p>Documents can be present in the Archive if they meet all of the following criteria:</p>
<ol><li>The content was created before the date the state or local government must
        comply with this rule        (4/24/2026), or reproduces paper documents or the
        contents of other physical media (audiotapes, film negatives, and CD-ROMs for
        example) that were created before the government must comply with this rule, AND
    </li>
    <li>The content is kept only for reference, research, or recordkeeping, AND</li>
    <li>The content is kept in a special area for archived content, AND</li>
    <li>The content has not been changed since it was archived.</li>
</ol>
<p>Documents placed on City websites after the deadline must comply with
    contemporary accessibility standards.
</p>
<p>To use this archive, you may search using the provided fields.
    If you have any questions or need help, please
    <a href="mailto:accessibility@bloomington.in.gov">email the City accessibility
    team for support at accessibility@bloomington.in.gov</a>.
</p>
